	
.headtext13 {
  font-family: verdana,tohama,arial;
  font-size: 11px;
  font-weight:bold;
  color: #4358A4; 
} 
	
	.lowerstyle {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }

.link {
	text-decoration:none;		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:150;
	color: #000000;
		 	
	}
	
	.heading{
	font: Verdana;
	font-size:12px;
	color:#FFFFFF;
		}